HELP.md
.gradle
build/
logs/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Environment Variables ###
.env
.env.local
.env.development
.env.test
.env.production

### Logs ###
*.log

### Mac OS ###
.DS_Store

### Frontend ###
node_modules/
/src/main/resources/frontend/node_modules/
/src/main/resources/frontend/build/
/src/main/resources/frontend/.pnp
/src/main/resources/frontend/.pnp.js
/src/main/resources/frontend/coverage/
/src/main/resources/frontend/.DS_Store
/src/main/resources/frontend/.env.local
/src/main/resources/frontend/.env.development.local
/src/main/resources/frontend/.env.test.local
/src/main/resources/frontend/.env.production.local
/src/main/resources/frontend/npm-debug.log*
/src/main/resources/frontend/yarn-debug.log*
/src/main/resources/frontend/yarn-error.log*

### Uploads ###
uploads/

# Separate Repository
TodayILearn/

### Project Specific ###
/src/main/resources/data/
application.yml
